
.About {
    display: grid;
    grid-template-columns: 1fr 1fr;
    ;
  }
  
  .About--Profile {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  
  .About--Profile > img {
    align-self: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border:5px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-bottom: 30px;
  }
  
  .About--Name {
    color: #fff;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    text-align: center;
  }