/* use google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
:root {
  /* --bg-image: url('./../public/assets/bg.jpg'); */
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  /* font-family: 'Roboto Mono', monospace; */
}


.Container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background: url('./assets/bg.jpg');
  background-size: cover;
  position: relative;
}

.aero_glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.App {
  width: 1000px;
  height: 650px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 0 103px;
}

.ribbon {
  font-size: 2rem;
  height: 60px;
  width: 300px;
  background: #1f1f1f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -120px;
  top: 0px;
  transform: rotate(45deg);
  /* transform-origin: 0 0; */
  box-shadow: 0 0 37px #000;
  /* z-index: -100; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.ribbon:hover {
  background: rgb(41, 41, 41);
  transition: all 0.3s ease-in-out;
}

.DetailsTitle {
  color: #fff;
  font-family: 'Albert Sans', sans-serif;
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
}

.Text {
  color: rgb(161, 161, 161);
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  text-align: left;
}

@media (max-width: 1500px) {
  .App {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .App {
    width: 100%;
    height: 100%;
    padding: 0 50px;
  }

  .aero_glass{
    border-radius: none !important;
    border: none !important;
  }
}

/* @media (min-width: 1000) {
  .App {
    width: 90%;
    padding: 0 20px;
  }
} */